src/server/obj/
src/server/.ntvs_analysis.dat
src/server/Server.njsproj
src/Client ( Mobile )/bin/
src/server/node_modules/*
!src/server/node_modules
!src/server/node_modules/config

mobile_app/.idea/encodings.xml
mobile_app/.idea/misc.xml
mobile_app/.idea/mobile_app.iml
mobile_app/.idea/modules.xml
mobile_app/.idea/scopes/scope_settings.xml
mobile_app/.idea/vcs.xml
mobile_app/.idea/workspace.xml
web-angular/.idea/.name
web-angular/.idea/encodings.xml
web-angular/.idea/misc.xml
web-angular/.idea/modules.xml
web-angular/.idea/scopes/scope_settings.xml
web-angular/.idea/vcs.xml
web-angular/.idea/web-angular.iml
web-angular/.idea/workspace.xml
server/routes/modules/database.js.rej
server/routes/routes.js.rej
src/server/Server.sln
mobile_app/projectFilesBackup/.idea/workspace.xml
.brackets.json
web-angular/.idea/jsLibraryMappings.xml
web-angular/projectFilesBackup/.idea/workspace.xml
mobile_app/.idea/jsLibraryMappings.xml
mobile_app_doorman/.idea/
