<np-view title="AppName">
    <np-content>
			<div class="container list list-inset">
                <form name="loginForm" class="form-signin" ng-controller="LoginCtrl" on-valid-submit="loginForm.$valid && loginSubmit()">
					<h2 class="form-signin-heading">Sign in</h2>
                    <input type="text" placeholder="Username/E-mail" name="username" class="form-control" ng-model="user.username" required>
                    <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" required>
					<button class="btn btn-lg btn-primary btn-block" ng-click="login()">
						Log In
					</button>
                </form>
				       <!-- <button class="button button-stable btnRounded" ng-click="register()">
                    Register
                </button> -->

            <p class="alignRight" ng-click="forgotPassword()">Forgot Password?</p>
			 </div>
    </np-content>
</np-view>