<h1>Add product</h1>

<br>

<form class="simple-form" name="productForm" novalidate ng-submit="addProduct()">
           <br>
			Category: 
			<select ng-model="product.categoryid">
				<option value=1>Cocktail</option>
				<option value=2>Shot</option>
				<option value=3>Bebidas espirituosas</option>
				<option value=4>Refrigerante</option>
				<option value=5>Whiskys</option>
				<option value=6>outros</option>
			</select>
			<br>
			<br>
			Name: <input type="text" ng-model="product.name" name="name">
			<br>
			<br>
			Description: 
			<br>
			<textarea rows="4" cols="50" name="description" ng-model="product.description"> </textarea>
			<br>
			<br>
            Price <input type="text" name="price" ng-model="product.price">
			<br>
			<br>
			<button class="btn"> Add Product </button>
			
        </form>