<h3>Product</h3>

<h1>{{product.name}}</h1>

<br>
<div class="col-md-9">
</div>
	
<div class="col-md-3">
<button class="btn" ng-click="deleteProduct()"> Delete Product </button>
</div>

<form class="simple-form" name="productForm" ng-controller="ProductCtrl" novalidate">
           <br>
			Category: 
			<select>
				<option value="Drinks">Drinks</option>
				<option value="Cocktail">Cocktail</option>
			</select>
			<br>
			<br>
			Name: <input type="text" placeholder={{product.name}} name="name">
			<br>
			<br>
			Description: 
			<br>
			<textarea rows="4" cols="50">{{product.description}} </textarea>
			<br>
			<br>
            Price <input type="text" placeholder={{product.price}} name="lastname">
			<br>
			<br>
			<button class="btn"> Edit Product </button>
			
        </form>