<ion-view hide-back-button="true" title="card@night">
    <ion-content padding="true">
        <div class="list list-inset" style="background-color: #222222;">
            <button class="button button-block button-stable button-large btnRounded" ng-controller="NavCtrl" ng-click="scanBarcode()">Scan QR Code</button>
            <br>
            <div id="qrcode" class="centerContent">
                <img id="checkImage">
            </div>
            <br>
            <button class="button button-stable btnRounded" ng-controller="AccountCtrl" ng-click="logout()">
                Log Out
            </button>
        </div>
    </ion-content>
</ion-view>