/* Empty. Add your own CSS if you like */
.btnBlockHome{
    height: 25vh;
    width: 100%;
    border-radius: 5px;
    font-family: "Helvetica";
}

.ionSize{
    font-size: 50px;
}

.row{
    text-align: center;
}

.smallFont{
    font-size: 90% !important;
}

a.item-content{
    padding-right: 2% !important;
    padding-left: 2% !important;
    padding-bottom: 2% !important;
    padding-top: 2% !important;
}

ion-item.item{
    padding-right: 2% !important;
    padding-left: 2% !important;
    padding-bottom: 1% !important;
    padding-top: 3% !important;
}

.btnRounded{
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.formRounded{
    border-radius: 5px !important;
}

.alignRight{
    text-align: right;
}

.alignCenter{
    text-align: center;
}

.tableTitle{
    style: "font-family: Trebuchet MS";
}

.bottomRoundedForm{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.topRoundedForm{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}


form i.icon.error {
    color: #ef4e3a; }

form input + i.icon.error {
    display: none;
    margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
    display: block; }

form .has-error {
    border-left: 5px solid #cc2511; }

form .has-success {
    border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
    display: none; }