<ion-view title="{{loggedUser.username}}">
    <ion-content padding="true">
        <div class="list list-inset">
            <div class="row">
                <div class="col" style="font-weight: bold; text-align: right">Username </div><div style = " text-align: left;" class="col col-66">{{loggedUser.username}} </div>
            </div>
            <div class="row">
                <div class="col" style="font-weight: bold; text-align: right;">Name </div><div style = " text-align: left;" class="col col-66">{{loggedUser.name}} </div>
            </div>            
            <div class="row">
                <div class="col" style="font-weight: bold; text-align: right">Email </div><div style = " text-align: left;" class="col col-66">{{loggedUser.email}} </div>
            </div>

            <button class="button button-stable btnSquare" ng-click="logout()">
                Log Out
            </button>
            <h2 class="tableTitle"><i class="icon ion-settings"> Account Settings</i></h2>
            <a class="item item-icon-left topRoundedForm" ui-sref="account-change-password">
                <i class="icon ion-key"></i>
                Change Password
            </a>
            <a class="item item-icon-left bottomRoundedForm" ng-click="showConfirmDeleteAccount()">
                <i class="icon ion-person"></i>
                Delete Account
            </a>
        </div>
    </ion-content> 
</ion-view>