<ion-view title="{{loggedUser.username}}">
    <ion-content padding="true">
        <div class="list card" style="height: 100%">

            <div class="item">
                <h1 style="text-align: center; font-size: 300%; padding-bottom:5px">{{order.code}}</h1>
                <h2 style="text-align: center">{{order.orderstime | date:"dd/MM @ HH:mm:ss"}}</h2>
            </div>

            <div class="item item-body" >
                <div class="row" style="margin-bottom: 20px">
                    <div class="col col-50" style="font-size: 100%">Quantity</div>
                    <div class="col col-50" style="font-size: 100%">Product</div>
                </div>

                <div class="row">
                    <div class="col col-50" style="; font-size: 150%">{{order.quantity}}</div>
                    <div class="col col-50" style="; font-size: 150%">{{order.productname}}</div>
                </div>

                <br>
                <div style="text-align: center">
                    Unit Price:<br>
                    {{order.price/order.quantity | currency: "€"}}
                </div>

                <hr>

                <div style="text-align:center">

                    <div style="font-weight: bold; font-size: 120%" ng-class="{red: order.orderstate == 'ordered', orange: order.orderstate == 'notified', green: order.orderstate == 'delivered'}">
                        <div ng-if="order.orderstate == 'ordered'" class="col col-25" style="text-align: right; padding:0px; margin: 0 auto">
                            <div  style="width: 50%; margin: 0 auto; padding:0px">
                                <div class="row" style=" margin: 0 auto; padding:0px"><i style="font-size: 150%;  margin: 0 auto;" class="ion-clock energized "></i></div>
                                <div class="energized row" style="margin: 0 auto;"><span  style="margin: 0 auto;">Preparing </span></div>
                            </div>
                        </div>
                        <div ng-if="order.orderstate == 'notified'" class="col col-25" style="text-align: right; padding:0px; margin: 0 auto">
                            <div  style="width: 50%; margin: 0 auto; padding:0px">
                                <div class="row" style=" margin: 0 auto; padding:0px"><i style="font-size: 150%;  margin: 0 auto;" class="ion-beer balanced "></i></div>
                                <div class="balanced row" style="margin: 0 auto;"><span  style="margin: 0 auto;">Ready </span></div>
                            </div>
                        </div>
                        <div ng-if="order.orderstate == 'delivered'" class="col col-25" style="text-align: right; padding:0px; margin: 0 auto">
                            <div  style="width: 50%; margin: 0 auto; padding:0px">
                                <div class="row" style=" margin: 0 auto; padding:0px"><i style="font-size: 150%;  margin: 0 auto;" class="ion-checkmark positive "></i></div>
                                <div class="positive row" style="margin: 0 auto;"><span  style="margin: 0 auto;">Delivered </span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="item item-divider">
                <div class="row" >
                    <div class="col col-50" style="text-align: left">Price</div>
                    <div class="col col-50" style="text-align: right">{{order.price | currency:"€"}}</div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>