<ion-view title="{{loggedUser.username}}">
    <ion-content padding="true" style="margin-bottom: 60px">
        <h1 class="tableTitle">Orders</h1>
        <ion-list >
            <ion-item type="item-text-wrap"  style="font-weight: bold" class="item-divider">
                <div class="row" style="margin:0; padding:0">
                    <div class="col col-25" style="text-align: left">Time</div>
                    <div class="col col-25" style="text-align: center">Code</div>
                    <div class="col col-25" style="text-align: center">Price</div>
                    <div class="col col-25" style="text-align: right">State</div>
                </div>
            </ion-item>
            <ion-item ng-repeat="order in orders" type="item-text-wrap" href="#/order/{{order.ordersid}}">
                <div class="row" style="margin-top:10px; margin-right:0; padding:0;">
                    <div class="col col-25" style="text-align: left">{{order.orderstime | date:'HH:mm:ss'}}</div>
                    <div class="col col-25" style="text-align: center">{{order.code}}</div>
                    <div class="col col-25" style="text-align: center">{{order.price | currency:"€"}}</div>

                    <div ng-if="order.orderstate == 'ordered'" class="col col-25" style="text-align: right; padding-right:15px">
                        <i style="font-size: 150%" class="ion-ios7-reload assertive"></i>
                    </div>
                    <div ng-if="order.orderstate == 'notified'" class="col col-25" style="text-align: right; padding-right:15px">
                        <i style="font-size: 150%" class="ion-ios7-upload-outline energized"></i>
                    </div>
                    <div ng-if="order.orderstate == 'delivered'" class="col col-25" style="text-align: right; padding-right:15px">
                        <i style="font-size: 150%" class="ion-ios7-checkmark-outline balanced"></i>
                    </div>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
