<ion-view title="{{loggedUser.username}}">
    <ion-content padding="true" ng-controller="PlacesCtrl" ng-init="generateqrcode(1,1)">
        <br>
        <h1 class="tableTitle alignCenter">Your QR Code:</h1>

        <br>{{loggedUser.username}}
            <div id="qrcode" class="alignCenter">
        </div>

        <br>
        <div>
            <button class="button button-stable btnRounded" ng-controller="NavCtrl" ng-click="choosePlace()">
                Go back
            </button>
        </div>
    </ion-content>
</ion-view>