<ion-view hide-back-button="true" title="card@night">
    <ion-content padding="true">
        <form class="simple-form" name="registry" ng-controller="RegisterCtrl" novalidate ng-submit="registerSubmit()">
        <div class="list list-inset" >
            <label ng-class="validateName(user.name)"  class="item item-input item-floating-label topRoundedForm " >
                <span class="input-label">Name</span>
                <input name="name" ng-trim="false"  type="text" placeholder="Name" ng-required="true" ng-model="user.name">
            </label>
            <label ng-class="validateEmail(user.email)"  class="item item-input item-floating-label ">
                <span class="input-label">E-mail </span>
                <input name="email" ng-trim="false"  type="text" placeholder="E-mail" required  ng-model="user.email">

            </label>
            <label ng-class="validateUsername(user.username)" class="item item-input item-floating-label ">
                <span class="input-label">Username</span>
                <input name="username" ng-trim="false" type="text" placeholder="Username" ng-required="true" ng-model="user.username">
            </label>
            <label ng-class="validatePassword(user.password)" class="item item-input item-floating-label bottomRoundedForm ">
                <span class="input-label">Password</span>
                <input name="password" ng-trim="false"  type="password" placeholder="Password" ng-required="true" ng-model="user.password">
            </label>
            <button  ng-class="{disabled: !validateUser(user)}" class="button button-positive btnSquare">
                Register
            </button>
        </div>
        </form>
    </ion-content>
</ion-view>