<ion-view hide-back-button="true" title="AppName">
    <ion-content >
        <form class="simple-form" name="registry" ng-controller="RegisterCtrl" novalidate on-valid-submit="registerSubmit()">
        <div class="list list-inset" >
            <label class="item item-input item-floating-label topRoundedForm validated" >
                <span class="input-label">Name</span>
                <input name="name" type="text" placeholder="Name" ng-required="true" ng-model="user.name">
            </label>
            <label ng-class="{'error': attempt && invalid_email , 'has-success': attempt && !invalid_email}" class="item item-input item-floating-label validated">
                <span class="input-label">E-mail </span>
                <input name="email" type="email" placeholder="E-mail" required  ng-model="user.email">

            </label>
            <label ng-class="{'has-error': attempt && invalid_username , 'has-success': attempt && !invalid_username}" class="item item-input item-floating-label validated">
                <span class="input-label">Username</span>
                <input name="username" type="text" placeholder="Username" ng-required="true" ng-model="user.username">
            </label>
            <label class="item item-input item-floating-label bottomRoundedForm validated">
                <span class="input-label">Password</span>
                <input name="password" type="password" placeholder="Password" ng-required="true" ng-model="user.password">
            </label>
            <button  ng-class="{disabled: registry.$invalid}" class="button button-positive btnRounded">
                Register
            </button>
        </div>
        </form>

    </ion-content>
    <ion-footer-bar class="bar-stable">
        <h1 class="title">powered by card@night</h1>
    </ion-footer-bar>
</ion-view>