<ion-view ng-controller="NavCtrl" title="AppName">
    <ion-content >
        <div class="list list-inset" >
            <label class="item item-input item-floating-label topRoundedForm" >
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="E-mail">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label bottomRoundedForm">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <button class="button button-positive btnRounded">
                Register
            </button>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <h1 class="title">powered by AppName</h1>
    </ion-footer-bar>
</ion-view>