

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-left">
				<ul class="nav navbar-nav">
					<li><a class="btn" ng-click="toggle()" style="font-size: 200%; text-rendering: geometricPrecision">&#9776;</a></li>
				</ul>	
				<!--
				<button class="btn btn-default navbar-btn" ng-click="toggle()" >
					&#9776; 
				</button>
				-->
			</div>
			
			
			
		</div>
		<a class="navbar-brand navbar-right" href="#">card@night</a>
	</div>
 </nav>

 <div id="wrapper" ng-class="{toggled: toggleSidebar}" style="margin-top: 50px">


	<div id="sidebar-wrapper" style="background-color:#222">
		 <ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#" style="font-size: 150%">
					 Menu
				</a>
			</li>
			<li>
				<a ui-sref="customers"><span class="glyphicon glyphicon-user"></span>&nbsp; Customers</a>
			</li>
			<li>
				<a ui-sref="incoming-orders"><span class="glyphicon glyphicon-tags"></span>&nbsp; Orders</a>
			</li>
			<li>
				<a ui-sref="products"><span class="glyphicon glyphicon-book"></span>&nbsp; Products</a>
			</li>

			<li>
				<a href="#" style="margin-top: 80%"><span class="glyphicon glyphicon-cog"></span>&nbsp; Account</a>
			</li>
			<li>
				<a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp; My Establishment (manager)</a>
			</li>
			<li>
				<a href="javascript:void(0);" ui-sref="logout"><span class="glyphicon glyphicon-lock"></span>&nbsp; Logout</a>
			</li>
		</ul>
	</div>
	
	<div id="page-content-wrapper">
		<!--<div> TOGGLE VAR1: {{toggleSidebar}} </div>-->
	<div ui-view="content">
	</div>
	</div>
</div>


	

